@use "node_modules/destyle.css/destyle.css";

body {
  color: #d4d4d4;
  background-color: #191919;
  padding: 32px;
  font-size: 14px;
  line-height: 1.2;
}

input {
  color: #d6d6d6;
  background: #252525;
  font-size: 16px;
  padding: 16px;
  width: 100%;
  max-width: 800px;
  min-width: 400px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.done {
  color: #6c6c6c;
}

ul {
  width: 100%;
  max-width: 800px;
  min-width: 400px;
  padding: 48px 32px;
  margin: 120px auto 60px;
  background: #252525;
  border-radius: 4px;
  > li {
    display: flex;
    align-items: center;
    + li {
      margin-top: 16px;
    }
    p {
      flex: 1;
    }
    > * {
      margin: 4px;
    }
  }
}
